<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- Defines my own custom marker, use the marker view panel to see them when they are created-->
<extension point="org.eclipse.core.resources.markers"
      id="com.ibm.mymarkers.mymarker"
      name="My Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <super type="org.eclipse.core.resources.marker"/>
      <super type="org.eclipse.core.resources.taskmarker"/>
      <persistent value="true"/>
</extension> 
    
<!-- Popup menu to add a menu to right click of a java file in the text editor--> 
<extension point="org.eclipse.ui.popupMenus"> 
	   	<viewerContribution 
	      	id="org.eclipse.ui.articles.action.contribution.popup.navigator"
	   		targetID="#CompilationUnitEditorContext"> 
	      	<action
	            class="com.ibm.example.mymarker.CreateMarkerAction"
	            id="com.ibm.example.create.marker"
	            label="Create Marker"
	            menubarPath="additions">
	      	</action>
	      	
	      	<action
	            class="com.ibm.example.mymarker.CountMarkersForFile"
	            id="com.ibm.example.filecount.marker"
	            label="Count Markers"
	            menubarPath="additions">
	      	</action> 
	   	</viewerContribution>
	</extension>
	
<!-- Popup menu to add a menu to right click of a java file in the package explorer--> 	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="Clarity.objectContribution2"
	 		objectClass="org.eclipse.jdt.core.IOpenable">
         	<action
               label="Count Markers"
               class="com.ibm.example.mymarker.CountMarkersForFiles"
               menubarPath="additions"
               id="com.ibm.example.foldercount.marker">
         	</action>
		</objectContribution>
	</extension>

<!-- Annotation specification:- describes what the annotation will look like and its properties -->
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
     id="myannotationspecification"
     name="MyAnnotation">

     <specification
          annotationType="com.ibm.myannotation"
          label="MyAnnotation"
          icon="icons/modernization2.gif"
          overviewRulerPreferenceKey="clruler"
          overviewRulerPreferenceValue="true"
          colorPreferenceKey="clcolor"
          colorPreferenceValue="255,255,0"
          textPreferenceKey="cltext"
          textPreferenceValue="true"
          highlightPreferenceKey="org.eclipse.viatra2.slice.highlight"
          highlightPreferenceValue="true"
          verticalRulerPreferenceKey="clvertical"
          verticalRulerPreferenceValue="true"
          textStylePreferenceKey="clstyle"
          textStylePreferenceValue="BOX">
     </specification>
   </extension>

<!-- Links the annotation spec to the marker -->
	<extension point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="com.ibm.myannotation"
            markerType="com.ibm.mymarkers.mymarker"/>
   </extension>
   
  <!-- define the marker updater class-->
  <extension point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            id="com.ibm.example.MarkerUpdater"
            class="com.ibm.example.markers.MarkerUpdater"
            markerType="com.ibm.mymarkers.mymarker">
      </updater>
  </extension>
</plugin>
